/* You can add global styles to this file, and also import other style files */
.zippy {
  margin-bottom: 10px;
}

.layer_1 {
    float: left;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    width: 40%;
}

.layer_2 {
    margin-top: 3px;
}

.layer_3 {
    clear: left;
}

.below {
    width: 42%;
}

/*.famfamfam-flags {*/
    /*display: inline-block;*/
    /*margin-right: 6px;*/
    /*width: 16px;*/
/*}*/